body {background-color:  #d9b3ff;
	margin: 20px;
}
header { padding: 20px;
	background-color:   #bf80ff

 }
 #name { display: block;
 		 color: white;
 		background-color:   #400080;
 		font-size: 30px;
 		margin-left: 20px;
 		width: 35%;

  }
  section {padding: 20px;
  	margin: 20px;}

#image {float: left;}
#paragraph {float: left;}