body {
    background-color: #d9b3ff;
    margin: 20px;
}

#content {
	width: 100%;
}

section {
    background-color: #bf80ff;
    margin: 15px;
}

header,
footer {
    position: static;
    display: block;
    width: 100%;
    height: 80px;
    line-height: 50px;
}

#name {
    line-height: 80px;
    color: white;
    background-color: #400080;
    font-size: 42px;
    text-align: center;
    margin: 0px;
    float: left;
}

nav ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div {
    width: 960px;
}

#title {
    text-align: center;
}

img {
    float: left;
}

#headshot {
    height: 200px;
    width: 200px;
    padding: 20px;
}
#elf {
	width: 200px;

}

#in {
    height: 80px;
    width: 80px;
}
#github {
	height: 80px;
	width: 80px;
}


#left {
    width: 66%;
	float: left;
}

#right {
    width: 20%;
    float: left;

}
h2 {
	width: 100%;
	text-align: center;
}
aside {
	width: 100%;
	float: left;
}
input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	box-sizing: border-box; 
}


footer {
    clear: both;
    text-align: center;
    margin-top: 20px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    float: left;
}
input[type=submit] 
{
    background-color: #400080;
    width: 20%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}